.topbox {
  height: 160px;
  text-align: center;
  background-color: #046D8B;
  color: white;
  padding: 16px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #efefef;
}

.search {
  width: 100%;
  font-size: 20px;
  border-radius: 2px;
  border: solid thin black;
  padding: 3px;
  text-align: center;
}

.shipmentinfo {
  margin-top: 4px;
  border-radius: 4px;
  /*border: solid thin black;*/
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px;
  text-transform: capitalize;
  background-color: white;
}

ul {
  /*background-color: #fafafa;*/
  list-style-type: none;
  padding: 2px;
}

li {
  background-color: #efefef;
  padding: 4px;
  border-radius: 4px;
}

.loadGif {
  visibility: hidden;
}
